.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-top: 24px;
}


#results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}